In [47]:
def flipkart_sneakers():
    import selenium
    from selenium import webdriver as wb
    import pandas as pd
    import time

    webD = wb.Chrome('chromedriver.exe')
    webD.get('https://www.flipkart.com/')
    #Closing the annoying login popup
    webD.find_element_by_xpath('//button[@class="_2AkmmA _29YdH8"]').click()
    #finding the search field and searching for sneakers
    search = webD.find_element_by_name('q')
    search.send_keys('sneakers')
    webD.find_element_by_xpath('//button[@class="vh79eN"]').click()
    #finding all search result elements
    results = webD.find_elements_by_xpath('//div[@class="_2LFGJH"]')
    def extract_record(result):
        """extract and return result from a single result"""
        brand = result.find_element_by_class_name('_2B_pmu').text
        desc = result.find_element_by_class_name('_2mylT6').text
        price = result.find_element_by_class_name('_1vC4OE').text
        #Error handling in case there is no discount on the product
        discount = 0
        if len(result.find_elements_by_class_name('VGWI6T'))>0:
            discount = result.find_element_by_class_name('VGWI6T').text
        brands.append(brand)
        descs.append(desc)
        prices.append(price)
        discounts.append(discount)
    #inititalzing lists for storing data
    brands = []
    descs = []
    prices = []
    discounts = []
    #visiting first 3 pages for a total of 100 results
    for page in range(3):
        #iterating each search element in the page and extracting data from each result
        for result in results:
            record = extract_record(result)
            if len(brands)==100:
                break
        time.sleep(3)
        webD.find_elements_by_class_name('_3fVaIS')[-1].click()  #moving_to_next_page
        time.sleep(5)  #Time for browser to load the page so that webdriver can update the new results
        results = webD.find_elements_by_xpath('//div[@class="_2LFGJH"]')  #update stored search result elements
    sneakers = pd.DataFrame({'Brand':brands,'Description':descs,'Price':prices,'Discount':discounts})
    webD.close()
    return sneakers

In [48]:
print(flipkart_sneakers())

           Brand                                        Description   Price  \
0         REWARM  Men's CASUAL Shoes Fashion Breathable Sneakers...    ₹299
1           Wika                                   Sneakers For Men    ₹399
2         Chevit  Smart Casuals Canvas Shoes Combo pack of 2 Sne...    ₹360
3       Swanwood              SPORTY STITCH CANVAS Sneakers For Men    ₹451
4     D-SNEAKERZ  Casual , Partywear Sneakers Shoes For Men's An...    ₹385
..           ...                                                ...     ...
75  Jack Diamond                                   Sneakers For Men    ₹638
76        Kraasa             Knitted Socks Casuals Sneakers For Men    ₹499
77       Essence                                   Sneakers For Men    ₹474
78        Oricum                    ORIFWSH(A)-303 Sneakers For Men    ₹284
79          Xtep                                   Sneakers For Men  ₹1,760

   Discount
0   70% off
1   60% off
2   63% off
3   65% off
4   61% off
..      ...
75  36% off
76  50% off
77  52% off
78  43% off
79  49% off

[80 rows x 4 columns]

In [14]:
import time

In [35]:
import selenium
from selenium import webdriver as wb
import pandas as pd

webD = wb.Chrome('chromedriver.exe')
webD.get('https://www.flipkart.com/')
search = webD.find_element_by_name('q')
search.send_keys('sneakers')

In [36]:
webD.find_element_by_xpath('//button[@class="_2AkmmA _29YdH8"]').click()

In [37]:
webD.find_element_by_xpath('//button[@class="vh79eN"]').click()

In [38]:
results = webD.find_elements_by_xpath('//div[@class="_2LFGJH"]')

In [39]:
def extract_record(result):
    """extract and return result from a single result"""
    brand = result.find_element_by_class_name('_2B_pmu').text
    desc = result.find_element_by_class_name('_2mylT6').text
    price = result.find_element_by_class_name('_1vC4OE').text
    discount = 0
    if len(result.find_elements_by_class_name('VGWI6T'))>0:
        discount = result.find_element_by_class_name('VGWI6T').text
    brands.append(brand)
    descs.append(desc)
    prices.append(price)
    discounts.append(discount)

In [40]:
brands = []
descs = []
prices = []
discounts = []
for page in range(3):
    for result in results:
        record = extract_record(result)
        if len(brands)==100:
            break
    time.sleep(3)
    webD.find_elements_by_class_name('_3fVaIS')[-1].click()
    time.sleep(8)
    results = webD.find_elements_by_xpath('//div[@class="_2LFGJH"]')

In [41]:
sneakers = pd.DataFrame({'Brand':brands,'Description':descs,'Price':prices,'Discount':discounts})

In [42]:
sneakers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Brand        100 non-null    object
 1   Description  100 non-null    object
 2   Price        100 non-null    object
 3   Discount     100 non-null    object
dtypes: object(4)
memory usage: 3.2+ KB

In [43]:
sneakers

,Brand,Description,Price,Discount
0,BERKINS,Sneakers For Men,₹398,73% off
1,Rockfield,Sneakers For Men,₹449,55% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹461,76% off
3,Chevit,171 Smart Tan Lace-Ups Casuals for Men Sneaker...,₹236,52% off
4,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹370,43% off
...,...,...,...,...
95,Asian,"Skypy-31 Walking Shoes,Training Shoes,Sneakers...",₹499,16% off
96,Aadi,Sneakers For Men,₹379,62% off
97,Shoefly,Combo Men Pack of 2 Loafers Shoes Sneakers For...,₹331,66% off
98,Airland,Sneakers For Men,₹280,43% off
99,Claptrap,Sneakers Shoes For Men's And Boys Sneakers For...,₹799,46% off