In [195]:
def Glassdoor_DS_Noida_Salaries():
    import selenium
    from selenium import webdriver as wb
    import pandas as pd
    import time
    webD = wb.Chrome('chromedriver.exe')
    webD.get('https://www.glassdoor.co.in/Salaries/index.htm')
    #finding the designation & location search fields and searching
    title_search = webD.find_element_by_id('KeywordSearch')
    loc_search = webD.find_element_by_id('LocationSearch')
    title_search.send_keys('Data Scientist')
    loc_search.send_keys('Noida')
    webD.find_element_by_id('HeroSearchButton').click()
    time.sleep(5)
    #Find all search result elements
    salary_result = webD.find_elements_by_xpath('//div[@data-test="job-info"]')
     #inititalzing lists for storing data
    companies = []
    no_of_salaries = []
    avg_salaries = []
    min_salaries = []
    max_salaries = []
    #Function for extracting info from one search result
    def extract_record(result):
        """extract and return result from a single result"""
        company = result.find_elements_by_tag_name('p')[1].text
        salaries = result.find_elements_by_tag_name('p')[4].text
        avg_sal = result.find_elements_by_tag_name('p')[2].text

        sal_range = result.find_elements_by_class_name('m-0')[3].text
        sal_list = sal_range.split(' ')
        min_sal = sal_list[1]
        max_sal = sal_list[3]
        companies.append(company)
        no_of_salaries.append(salaries)
        avg_salaries.append(avg_sal)
        min_salaries.append(min_sal)
        max_salaries.append(max_sal)
    #iterating each search element and extracting data from each result
    for result in salary_result:
        extract_record(result)
        if len(companies)==10:  #only 10 search results
            break
    webD.close()
    job_salaries = pd.DataFrame({'Comapny':companies,'Number of Salaries':no_of_salaries,'Average Salary':avg_salaries,'Minimum Salary':min_salaries,'Maximum Salary':max_salaries})
    return job_salaries

In [196]:
print(Glassdoor_DS_Noida_Salaries())

IndexError: list index out of range

In [157]:
import selenium
from selenium import webdriver as wb
import pandas as pd

In [158]:
webD = wb.Chrome('chromedriver.exe')

In [159]:
webD.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [160]:
title_search = webD.find_element_by_id('KeywordSearch')
loc_search = webD.find_element_by_id('LocationSearch')

In [161]:
title_search.send_keys('Data Scientist')
loc_search.send_keys('Noida')

In [162]:
webD.find_element_by_id('HeroSearchButton').click()

In [163]:
salary_result = webD.find_elements_by_xpath('//div[@data-test="job-info"]')

In [164]:
len(salary_result)

20

In [176]:
salary_result[3].text

'Data Scientist\nUnitedHealth Group\n7 salaries\nSee 12 salaries from all locations'

In [184]:
result = salary_result[1]

In [185]:
t = result.find_elements_by_class_name('m-0')

In [186]:
t

[<selenium.webdriver.remote.webelement.WebElement (session="580f5944d1b15620a551f11c61ae37b5", element="2ef98ed1-eb68-41b6-be21-0f129b524272")>,
 <selenium.webdriver.remote.webelement.WebElement (session="580f5944d1b15620a551f11c61ae37b5", element="664eea79-b672-49dd-b964-bdfc87d41b1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="580f5944d1b15620a551f11c61ae37b5", element="f9af41b9-3ebb-47d7-9faf-da9337a6d9de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="580f5944d1b15620a551f11c61ae37b5", element="27cbbd7e-f174-4630-91a9-059fd925e993")>,
 <selenium.webdriver.remote.webelement.WebElement (session="580f5944d1b15620a551f11c61ae37b5", element="445dce5e-922e-4f83-b8a8-9a9ebc3e4b8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="580f5944d1b15620a551f11c61ae37b5", element="74564f0f-20ae-4f10-88d9-cd380b44c4b8")>]

In [187]:
t[3].text

'Range: ₹572K - ₹1,300K'

In [190]:
companies = []
no_of_salaries = []
avg_salaries = []
min_salaries = []
max_salaries = []
#Function for extracting info from one search result
def extract_record(result):
    """extract and return result from a single result"""
    company = result.find_elements_by_tag_name('p')[1].text
    salaries = result.find_elements_by_tag_name('p')[4].text
    avg_sal = result.find_elements_by_tag_name('p')[2].text
    
    sal_range = result.find_elements_by_class_name('m-0')[3].text
    sal_list = sal_range.split(' ')
    min_sal = sal_list[1]
    max_sal = sal_list[3]
    companies.append(company)
    no_of_salaries.append(salaries)
    avg_salaries.append(avg_sal)
    min_salaries.append(min_sal)
    max_salaries.append(max_sal)

In [191]:
for result in salary_result:
    extract_record(result)
    if len(companies)==10:
        break

In [192]:
webD.close()

In [193]:
job_salaries = pd.DataFrame({'Comapny':companies,'Number of Salaries':no_of_salaries,'Average Salary':avg_salaries,'Minimum Salary':min_salaries,'Maximum Salary':max_salaries})

In [194]:
job_salaries

,Comapny,Number of Salaries,Average Salary,Minimum Salary,Maximum Salary
0,Delhivery,11 salaries,"₹ 13,18,563/yr",₹706K,"₹11,513K"
1,Accenture,8 salaries,"₹ 9,85,497/yr",₹572K,"₹1,300K"
2,IBM,7 salaries,"₹ 7,53,602/yr",₹581K,"₹2,704K"
3,UnitedHealth Group,7 salaries,"₹ 13,23,634/yr",₹710K,"₹1,559K"
4,Cognizant Technology Solutions,6 salaries,"₹ 9,97,979/yr",₹785K,"₹1,251K"
5,Valiance Solutions,6 salaries,"₹ 7,72,507/yr",₹497K,"₹1,140K"
6,Vidooly Media Tech,6 salaries,"₹ 12,689/mo",₹8K,₹20K
7,Analytics Vidhya,6 salaries,"₹ 21,215/mo",₹14K,₹22K
8,Tata Consultancy Services,5 salaries,"₹ 6,77,498/yr",₹480K,"₹1,000K"
9,Ericsson-Worldwide,5 salaries,"₹ 7,34,456/yr",₹460K,"₹1,598K"