In [1]:
def Naukri_DA_Jobs_Bangalore():
    import selenium
    from selenium import webdriver as wb
    import pandas as pd
    import time
    
    def extract_record(result):
        """extract and return result from a single result"""
        title_comapny = result.find_elements_by_tag_name('a')#Ttile and Company are contained in the first two a tags in each result
        title = title_comapny[0].text
        company = title_comapny[1].text
        #finding the element in the result which contans experience, CTC & location data
        exp_ctc_loc1 = result.find_elements_by_tag_name('ul')
        exp_ctc_loc2 = exp_ctc_loc1[0].find_elements_by_tag_name('li')
        location = exp_ctc_loc2[2].text
        exp = exp_ctc_loc2[0].text    
        titles.append(title)
        comapnies.append(company)
        locations.append(location)
        experiences.append(exp)
    
    webD = wb.Chrome('chromedriver.exe')
    webD.get('https://www.naukri.com/')
    #finding the designation & location search fields and searching
    search = webD.find_elements_by_class_name('sugInp')
    search[0].send_keys('Data Analyst')
    search[1].send_keys('Bangalore')
    webD.find_element_by_class_name('search-btn').click()
    time.sleep(5)#Time for browser to load the page so that webdriver can update the new results
    #Find all search result elements
    search_result = webD.find_elements_by_tag_name('article')
    #inititalzing lists for storing data
    titles = []
    comapnies = []
    locations = []
    experiences = []
    #iterating each search element and extracting data from each result
    for result in search_result:
        record = extract_record(result)
        if len(titles)==10:  #only 10 search results
            break
    webD.close()
    jobs = pd.DataFrame({'Job Title':titles,'Comapny':comapnies,'Location':locations,'Experience':experiences})
    return jobs

In [2]:
print(Naukri_DA_Jobs_Bangalore())

                                           Job Title  \
0  Data Analyst: Fresherâ€™s with Data Analyst Cert...
1                            Data Analyst (Gameplay)
2                  Business Analyst and Data Analyst
3                                       Data Analyst
4                          Intern - DFM Data Analyst
5  Hiring Data Analysts on Contract Third party p...
6                           Reliability Data Analyst
7           Urgent requirement For Data Analyst Pune
8                    Data Analyst - MySQL/PostgreSQL
9                                Senior Data Analyst

                                       Comapny  \
0                         GDA Security pvt ltd
1                                  Kwalee ltd.
2                           Tech Mahindra Ltd.
3                                 Hk solutions
4  GLOBALFOUNDRIES Engineering Private Limited
5            Flipkart Internet Private Limited
6                  Alstom Transport India Ltd.
7          Brainbees Solutions Private Limited
8                                      Astegic
9            Flipkart Internet Private Limited

                                            Location Experience
0                                          Bengaluru    0-0 Yrs
1                                          Bengaluru    0-2 Yrs
2                    Delhi NCR, Bengaluru, Hyderabad   7-12 Yrs
3                      Chennai, Delhi NCR, Bengaluru    0-3 Yrs
4                                          Bengaluru    0-5 Yrs
5                                          Bengaluru    2-6 Yrs
6                                          Bengaluru    3-8 Yrs
7                 Pune, Delhi NCR, Mumbai, Bengaluru    2-5 Yrs
8  Pune, Mumbai, Bengaluru, Hyderabad, Noida, Jaipur   5-10 Yrs
9                                          Bengaluru    2-6 Yrs