In [3]:
def Naukri_DS_Bangalore_2to3LPA():
    import selenium
    from selenium import webdriver as wb
    import pandas as pd
    import time
    webD = wb.Chrome('chromedriver.exe')
    webD.get('https://www.naukri.com/')
    #finding the designation search field and searching
    search = webD.find_elements_by_class_name('sugInp')
    search[0].send_keys('Data Scientist')
    webD.find_element_by_class_name('search-btn').click()
    time.sleep(5) ##Time for browser to load the page so that webdriver can update the new results
    #Selecting location and CTC range filters directly using xpath
    webD.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/i').click()
    time.sleep(2)
    webD.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/i').click()
    time.sleep(2)
    #Find all search result elements
    search_result = webD.find_elements_by_tag_name('article')
    def extract_record(result):
        """extract and return result from a single result"""   
        #finding the element in the result which contans experience, CTC & location data
        exp_ctc_loc1 = result.find_elements_by_tag_name('ul')
        exp_ctc_loc2 = exp_ctc_loc1[0].find_elements_by_tag_name('li')
        location = exp_ctc_loc2[2].text
        title_comapny = result.find_elements_by_tag_name('a')  ##Ttile and Company are contained in the first two a tags in each result
        title = title_comapny[0].text
        company = title_comapny[1].text
        exp = exp_ctc_loc2[0].text    
        titles.append(title)
        comapnies.append(company)
        locations.append(location)
        experiences.append(exp)
    #inititalzing lists for storing data
    titles = []
    comapnies = []
    locations = []
    experiences = []
    for result in search_result:
        record = extract_record(result)
        if len(titles)==10:  #only 10 search results
            break
    webD.close()
    jobs = pd.DataFrame({'Job Title':titles,'Comapny':comapnies,'Location':locations,'Experience':experiences})
    return jobs

In [4]:
print(Naukri_DS_Bangalore_2to3LPA())

                                           Job Title  \
0  Only Fresher / Data Scientist / Data Analyst /...
1             Data Scientist - Machine Learning/ NLP
2                                     Data Scientist
3                                     Data Scientist
4                          Junior Data Scientist/ TA
5                  Data Scientist - Tableau/Power BI
6                                     Data Scientist
7                                     Data Scientist
8                       Data Scientist/BPM/4-8 years
9                             Data Analyst/Scientist

                                             Comapny  \
0                          GABA Consultancy services
1                                             TalPro
2                                      NatWest Group
3                                              Jubna
4                     WSD CONSULTANT PRIVATE LIMITED
5                             Talent Stock Solutions
6                   GlobalHunt India Private Limited
7                                 Blue Sky Analytics
8  CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...
9                                   Amity University

                                            Location Experience
0                Faridabad, Delhi NCR, Greater Noida    0-0 Yrs
1                                   Gurgaon Gurugram    2-6 Yrs
2                                   Gurgaon Gurugram    2-7 Yrs
3                                              Noida    4-7 Yrs
4  Chennai, Pune, Mumbai, Bengaluru, Gurgaon, Hyd...    1-5 Yrs
5                                              Delhi    1-3 Yrs
6                                              Delhi    3-6 Yrs
7                                            Gurgaon    1-6 Yrs
8                                            Gurgaon    4-7 Yrs
9                               Delhi NCR, Ghaziabad    6-8 Yrs